<html>
  <head>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <!-- Bootstrap JS CDNs -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}"></link>
  </head>
  <body>

    <!-- Navbar implemented from Bootstrap -->
    <section id="nav">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">PennLabs &ndash;
          {% if user != None %}
            <span class="welcomeTag"> Welcome {{ user }}! </span>
          {% endif %}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li {% if location.home %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
              <a class="nav-link" href="/">Home</span></a>
            </li>
            <li {% if location.submit %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
              <a class="nav-link" href="/submit">Submit</a>
            </li>
            <li {% if location.login %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
                {% if user == None %}
                  <a class="nav-link" href="/login">Login</a>
                {% else %}
                  <a class="nav-link" href="/api/logout">Logout</a>
                {% endif %}
            </li>
          </ul>
          <div class="form-inline my-2 my-lg-0">
            <input id="searchParameter" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button id="searchBtn" class="btn btn-outline-primary my-2 my-sm-0">Search</button>
          </div>
        </div>
        </nav>
      </section>

    <!-- Bootstrap form formatting -->
    <div class="col-md-6 centered mt-4">
      <form action="/api/login" method="post">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" name="username" placeholder="Ben_Franklin" required>
          <small id="usernameHelp" class="form-text text-muted">We'll never share your information with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-primary">Log in</button>
      </form>
      <hr>
      <div class="container col-md-8 centered">
        <div class="row">
          <a class="centered" href="/register">Create account</a>
        </div>
      </div>

      <br>

      {% if try_again %}
        <div class="alert alert-danger" role="alert">
          Incorrect username or passsword. Please try again!
        </div>
      {% endif %}

    </div>


  </body>
</html>
